@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  background: url("background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #071d95;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.slides {
  height: 70%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.slide {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: end;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: white;
  text-align: end;
}

.slide h1 {
  font-size: 4em;
  text-align: center;
}

.slide p {
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 25px 0;
}

.links .bullet {
  font-size: 5em;
  color: white;
  margin: 5px;
}

.links .bullet:hover {
  color: #7378c7;
}

.button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 25px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.button .scroll-button {
  font-size: 10em;
  color: #ebe9e9;
  display: none;
}

.button.back {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.button.forward {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#slide-1:checked ~ .wrapper > .slides > :first-child,
#slide-2:checked ~ .wrapper > .slides > :nth-child(2),
#slide-3:checked ~ .wrapper > .slides > :nth-child(3) {
  display: -ms-grid;
  display: grid;
  -webkit-animation-name: fading;
          animation-name: fading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#slide-1:checked ~ .wrapper .links .no-1,
#slide-2:checked ~ .wrapper .links .no-2,
#slide-3:checked ~ .wrapper .links .no-3 {
  color: blue;
}

#slide-1:checked ~ .button > .for-1,
#slide-2:checked ~ .button > .for-2,
#slide-3:checked ~ .button > .for-3 {
  display: block;
}

@-webkit-keyframes fading {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fading {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
