.container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 250px);
    background-color: white;
  }
  .purple {
    background-color: purple;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .blue {
    background-color: blue;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .orange {
    background-color: orange;
    grid-column-start: 3;
    grid-row: 1 / 4;
  }
  .brown {
    background-color: brown;
    grid-column-start: 4;
    grid-row-start: 1;
  }