* {
    box-sizing: border-box;
}

.page-wrap {
    display: grid;
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
    img{
        max-width: 100%;
    }
}

img {
    display: block;
}

a {
    color: lightblue;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
    h1{
        font-size: 1em;
    }
    p {
        margin: 0;    
    }
}

h1 {
    font-size: 2em;
}
h1, h2 {
    margin: 0 0 10px 0;
}

.sub-stories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.sub-story {
    flex-basis: 50%;
    margin-right: 25px;
    position: relative;
    font-size: 80%;
    img{
        min-width: 0;
        width: 100%;
        height: auto;
    }
}

.last {
    margin-right: 0;
}

@media screen and (min-width: 1200px) {
    body{
        background-color: grey;
    }
    .sub-story {
        flex-basis: auto;
   }
    h1 {
        font-size: 4em;
    }
    .story-intro {
        h1{
            font-size: 3em;
        }
    }  
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .sub-story {
        flex-basis: auto;
    }
    h1{
        font-size: 3em;
    }
    .story-intro {
        h1{
            font-size: 2.5em;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    .sub-story {
        flex-basis: 45%;
    }
    .story-intro {
        h1{
            font-size: 1.5em;
        }
    }
}